<div class="col-xs-6 col-sm-4 col-md-3">
  <div class="meat-bundle-item deli-item">
    <div class="deli-image-container">
      <img src="{{assets}}/{{image}}" class="img-responsive img-rounded">
      <a href="#" class="item-info-btn deli-item-btn" data-item-list="{{list}}">
        <span class="glyphicon glyphicon-zoom-in"></span>
        More Info
      </a>
    </div>
    <span class="meat-bundle-title">{{title}}</span>
    <span class="meat-bundle-price">{{price}}</span>
  </div>
</div>
