<div class="col-xs-6 col-sm-4 col-md-2">
  <div class="{{#if vendor}}vendor{{else}}product{{/if}}-item deli-item">
    <div class="deli-image-container">
      <img src="{{assets}}/{{image}}" class="img-responsive img-rounded">
      <a href="#" class="item-info-btn deli-item-btn" data-item-description="{{description}}" data-item-link="{{link}}">
        <span class="glyphicon glyphicon-zoom-in"></span>
        More Info
      </a>
    </div>
    <span class="{{#unless vendor}}product-{{/unless}}item-title deli-item-title">{{title}}</span>
  </div>
</div>
